//
// Written by Synplify Pro 
// Product Version "V-2023.09M-5"
// Program "Synplify Pro", Mapper "map202309act, Build 395R"
// Tue Nov 18 13:36:26 2025
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\/home/hazen/microchip/Libero_SoC_2025.1/Libero_SoC/Synplify_Pro/lib/vhd2008/std.vhd "
// file 1 "\/home/hazen/microchip/Libero_SoC_2025.1/Libero_SoC/Synplify_Pro/lib/vhd/snps_haps_pkg.vhd "
// file 2 "\/home/hazen/microchip/Libero_SoC_2025.1/Libero_SoC/Synplify_Pro/lib/vhd2008/std1164.vhd "
// file 3 "\/home/hazen/microchip/Libero_SoC_2025.1/Libero_SoC/Synplify_Pro/lib/vhd2008/std_textio.vhd "
// file 4 "\/home/hazen/microchip/Libero_SoC_2025.1/Libero_SoC/Synplify_Pro/lib/vhd2008/numeric.vhd "
// file 5 "\/home/hazen/microchip/Libero_SoC_2025.1/Libero_SoC/Synplify_Pro/lib/vhd/umr_capim.vhd "
// file 6 "\/home/hazen/microchip/Libero_SoC_2025.1/Libero_SoC/Synplify_Pro/lib/vhd2008/arith.vhd "
// file 7 "\/home/hazen/microchip/Libero_SoC_2025.1/Libero_SoC/Synplify_Pro/lib/vhd2008/unsigned.vhd "
// file 8 "\/home/hazen/microchip/Libero_SoC_2025.1/Libero_SoC/Synplify_Pro/lib/vhd/hyperents.vhd "
// file 9 "\/home/hazen/LiberoProjects/blinky_counter/hdl/counter_top.vhd "
// file 10 "\/home/hazen/microchip/Libero_SoC_2025.1/Libero_SoC/Synplify_Pro/lib/nlconst.dat "
// file 11 "\/home/hazen/LiberoProjects/blinky_counter/designer/led_blinker/synthesis.fdc "

`timescale 100 ps/100 ps
module led_blinker (
  clk_i,
  reset_n_i,
  led_o
)
;
input clk_i ;
input reset_n_i ;
output [7:0] led_o ;
wire clk_i ;
wire reset_n_i ;
wire [23:0] counter_Z;
wire [30:0] counter_s;
wire [30:1] counter_cry_Z;
wire [7:0] led_o_c;
wire [31:31] counter_s_Z;
wire [30:1] counter_cry_Y;
wire [31:31] counter_s_FCO;
wire [31:31] counter_s_Y;
wire NN_1 ;
wire VCC ;
wire GND ;
wire clk_i_ibuf_Z ;
wire reset_n_i_c ;
wire counter_s_1_FCO ;
wire counter_s_1_S ;
wire counter_s_1_Y ;
  CFG1 \counter_RNO[0]  (
	.A(counter_Z[0]),
	.Y(counter_s[0])
);
defparam \counter_RNO[0] .INIT=2'h1;
// @9:18
  SLE \counter[31]  (
	.Q(led_o_c[7]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s_Z[31]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[30]  (
	.Q(led_o_c[6]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[30]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[29]  (
	.Q(led_o_c[5]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[29]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[28]  (
	.Q(led_o_c[4]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[28]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[27]  (
	.Q(led_o_c[3]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[27]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[26]  (
	.Q(led_o_c[2]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[26]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[25]  (
	.Q(led_o_c[1]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[25]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[24]  (
	.Q(led_o_c[0]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[24]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[23]  (
	.Q(counter_Z[23]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[23]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[22]  (
	.Q(counter_Z[22]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[22]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[21]  (
	.Q(counter_Z[21]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[21]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[20]  (
	.Q(counter_Z[20]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[20]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[19]  (
	.Q(counter_Z[19]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[19]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[18]  (
	.Q(counter_Z[18]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[18]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[17]  (
	.Q(counter_Z[17]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[17]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[16]  (
	.Q(counter_Z[16]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[16]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[15]  (
	.Q(counter_Z[15]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[15]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[14]  (
	.Q(counter_Z[14]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[14]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[13]  (
	.Q(counter_Z[13]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[13]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[12]  (
	.Q(counter_Z[12]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[12]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[11]  (
	.Q(counter_Z[11]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[11]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[10]  (
	.Q(counter_Z[10]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[10]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[9]  (
	.Q(counter_Z[9]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[9]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[8]  (
	.Q(counter_Z[8]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[8]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[7]  (
	.Q(counter_Z[7]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[7]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[6]  (
	.Q(counter_Z[6]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[5]  (
	.Q(counter_Z[5]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[4]  (
	.Q(counter_Z[4]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[3]  (
	.Q(counter_Z[3]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[2]  (
	.Q(counter_Z[2]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[1]  (
	.Q(counter_Z[1]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:18
  SLE \counter[0]  (
	.Q(counter_Z[0]),
	.ADn(VCC),
	.ALn(reset_n_i_c),
	.CLK(NN_1),
	.D(counter_s[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @9:7
  INBUF clk_i_ibuf (
	.Y(clk_i_ibuf_Z),
	.PAD(clk_i)
);
// @9:8
  INBUF reset_n_i_ibuf (
	.Y(reset_n_i_c),
	.PAD(reset_n_i)
);
// @9:9
  OUTBUF \led_o_obuf[0]  (
	.PAD(led_o[0]),
	.D(led_o_c[0])
);
// @9:9
  OUTBUF \led_o_obuf[1]  (
	.PAD(led_o[1]),
	.D(led_o_c[1])
);
// @9:9
  OUTBUF \led_o_obuf[2]  (
	.PAD(led_o[2]),
	.D(led_o_c[2])
);
// @9:9
  OUTBUF \led_o_obuf[3]  (
	.PAD(led_o[3]),
	.D(led_o_c[3])
);
// @9:9
  OUTBUF \led_o_obuf[4]  (
	.PAD(led_o[4]),
	.D(led_o_c[4])
);
// @9:9
  OUTBUF \led_o_obuf[5]  (
	.PAD(led_o[5]),
	.D(led_o_c[5])
);
// @9:9
  OUTBUF \led_o_obuf[6]  (
	.PAD(led_o[6]),
	.D(led_o_c[6])
);
// @9:9
  OUTBUF \led_o_obuf[7]  (
	.PAD(led_o[7]),
	.D(led_o_c[7])
);
// @9:18
  ARI1 counter_s_1 (
	.FCO(counter_s_1_FCO),
	.S(counter_s_1_S),
	.Y(counter_s_1_Y),
	.B(counter_Z[0]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(VCC)
);
defparam counter_s_1.INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[1]  (
	.FCO(counter_cry_Z[1]),
	.S(counter_s[1]),
	.Y(counter_cry_Y[1]),
	.B(counter_Z[1]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_s_1_FCO)
);
defparam \counter_cry[1] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[2]  (
	.FCO(counter_cry_Z[2]),
	.S(counter_s[2]),
	.Y(counter_cry_Y[2]),
	.B(counter_Z[2]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[1])
);
defparam \counter_cry[2] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[3]  (
	.FCO(counter_cry_Z[3]),
	.S(counter_s[3]),
	.Y(counter_cry_Y[3]),
	.B(counter_Z[3]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[2])
);
defparam \counter_cry[3] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[4]  (
	.FCO(counter_cry_Z[4]),
	.S(counter_s[4]),
	.Y(counter_cry_Y[4]),
	.B(counter_Z[4]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[3])
);
defparam \counter_cry[4] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[5]  (
	.FCO(counter_cry_Z[5]),
	.S(counter_s[5]),
	.Y(counter_cry_Y[5]),
	.B(counter_Z[5]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[4])
);
defparam \counter_cry[5] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[6]  (
	.FCO(counter_cry_Z[6]),
	.S(counter_s[6]),
	.Y(counter_cry_Y[6]),
	.B(counter_Z[6]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[5])
);
defparam \counter_cry[6] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[7]  (
	.FCO(counter_cry_Z[7]),
	.S(counter_s[7]),
	.Y(counter_cry_Y[7]),
	.B(counter_Z[7]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[6])
);
defparam \counter_cry[7] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[8]  (
	.FCO(counter_cry_Z[8]),
	.S(counter_s[8]),
	.Y(counter_cry_Y[8]),
	.B(counter_Z[8]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[7])
);
defparam \counter_cry[8] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[9]  (
	.FCO(counter_cry_Z[9]),
	.S(counter_s[9]),
	.Y(counter_cry_Y[9]),
	.B(counter_Z[9]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[8])
);
defparam \counter_cry[9] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[10]  (
	.FCO(counter_cry_Z[10]),
	.S(counter_s[10]),
	.Y(counter_cry_Y[10]),
	.B(counter_Z[10]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[9])
);
defparam \counter_cry[10] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[11]  (
	.FCO(counter_cry_Z[11]),
	.S(counter_s[11]),
	.Y(counter_cry_Y[11]),
	.B(counter_Z[11]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[10])
);
defparam \counter_cry[11] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[12]  (
	.FCO(counter_cry_Z[12]),
	.S(counter_s[12]),
	.Y(counter_cry_Y[12]),
	.B(counter_Z[12]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[11])
);
defparam \counter_cry[12] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[13]  (
	.FCO(counter_cry_Z[13]),
	.S(counter_s[13]),
	.Y(counter_cry_Y[13]),
	.B(counter_Z[13]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[12])
);
defparam \counter_cry[13] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[14]  (
	.FCO(counter_cry_Z[14]),
	.S(counter_s[14]),
	.Y(counter_cry_Y[14]),
	.B(counter_Z[14]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[13])
);
defparam \counter_cry[14] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[15]  (
	.FCO(counter_cry_Z[15]),
	.S(counter_s[15]),
	.Y(counter_cry_Y[15]),
	.B(counter_Z[15]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[14])
);
defparam \counter_cry[15] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[16]  (
	.FCO(counter_cry_Z[16]),
	.S(counter_s[16]),
	.Y(counter_cry_Y[16]),
	.B(counter_Z[16]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[15])
);
defparam \counter_cry[16] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[17]  (
	.FCO(counter_cry_Z[17]),
	.S(counter_s[17]),
	.Y(counter_cry_Y[17]),
	.B(counter_Z[17]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[16])
);
defparam \counter_cry[17] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[18]  (
	.FCO(counter_cry_Z[18]),
	.S(counter_s[18]),
	.Y(counter_cry_Y[18]),
	.B(counter_Z[18]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[17])
);
defparam \counter_cry[18] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[19]  (
	.FCO(counter_cry_Z[19]),
	.S(counter_s[19]),
	.Y(counter_cry_Y[19]),
	.B(counter_Z[19]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[18])
);
defparam \counter_cry[19] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[20]  (
	.FCO(counter_cry_Z[20]),
	.S(counter_s[20]),
	.Y(counter_cry_Y[20]),
	.B(counter_Z[20]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[19])
);
defparam \counter_cry[20] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[21]  (
	.FCO(counter_cry_Z[21]),
	.S(counter_s[21]),
	.Y(counter_cry_Y[21]),
	.B(counter_Z[21]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[20])
);
defparam \counter_cry[21] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[22]  (
	.FCO(counter_cry_Z[22]),
	.S(counter_s[22]),
	.Y(counter_cry_Y[22]),
	.B(counter_Z[22]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[21])
);
defparam \counter_cry[22] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[23]  (
	.FCO(counter_cry_Z[23]),
	.S(counter_s[23]),
	.Y(counter_cry_Y[23]),
	.B(counter_Z[23]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[22])
);
defparam \counter_cry[23] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[24]  (
	.FCO(counter_cry_Z[24]),
	.S(counter_s[24]),
	.Y(counter_cry_Y[24]),
	.B(led_o_c[0]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[23])
);
defparam \counter_cry[24] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[25]  (
	.FCO(counter_cry_Z[25]),
	.S(counter_s[25]),
	.Y(counter_cry_Y[25]),
	.B(led_o_c[1]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[24])
);
defparam \counter_cry[25] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[26]  (
	.FCO(counter_cry_Z[26]),
	.S(counter_s[26]),
	.Y(counter_cry_Y[26]),
	.B(led_o_c[2]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[25])
);
defparam \counter_cry[26] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[27]  (
	.FCO(counter_cry_Z[27]),
	.S(counter_s[27]),
	.Y(counter_cry_Y[27]),
	.B(led_o_c[3]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[26])
);
defparam \counter_cry[27] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[28]  (
	.FCO(counter_cry_Z[28]),
	.S(counter_s[28]),
	.Y(counter_cry_Y[28]),
	.B(led_o_c[4]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[27])
);
defparam \counter_cry[28] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[29]  (
	.FCO(counter_cry_Z[29]),
	.S(counter_s[29]),
	.Y(counter_cry_Y[29]),
	.B(led_o_c[5]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[28])
);
defparam \counter_cry[29] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_s[31]  (
	.FCO(counter_s_FCO[31]),
	.S(counter_s_Z[31]),
	.Y(counter_s_Y[31]),
	.B(led_o_c[7]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[30])
);
defparam \counter_s[31] .INIT=20'h4AA00;
// @9:18
  ARI1 \counter_cry[30]  (
	.FCO(counter_cry_Z[30]),
	.S(counter_s[30]),
	.Y(counter_cry_Y[30]),
	.B(led_o_c[6]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(counter_cry_Z[29])
);
defparam \counter_cry[30] .INIT=20'h4AA00;
  CLKINT I_1 (
	.Y(NN_1),
	.A(clk_i_ibuf_Z)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* led_blinker */

